## Logs ###
logs/

### Maven ###
target/
dependency-reduced-pom.xml

### Eclipse ###
.settings/
.classpath
.project

### OS ###
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
*~
/run.sh
/ncurses.sh
/ssh.sh
