<?xml version="1.0" encoding="UTF-8"?>
<!-- Example LOGBACK Configuration File http://logback.qos.ch/manual/configuration.html -->
<configuration scan="true" scanPeriod="90 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date | %-5level | [%thread] | %logger{36} | %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/mintshell.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/mintshell-%d{yyyy-MM-dd}.%i.log.gz
      </fileNamePattern>
      <maxHistory>20</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date | %-5level | [%thread] | %logger{36} | %msg%n
      </pattern>
    </layout>
  </appender>

  <logger name="ch" level="OFF" />
  <logger name="org.mintshell" level="DEBUG" />
  <logger name="org.mintshell.dispatcher.reflection" level="ERROR" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
